.ng-pc-container, .ng-pc-modal {
  .panel-heading {
    position: relative;

    .btn.panel-heading-btn,
    a.btn.panel-heading-btn,
    a.btn.panel-heading-btn:link {
      float: right;
      position: relative;
      top: -4px;
      right: -16px;
      margin-right: 6px;
      font-size: 13px;
      line-height: 13px;
      height: 28px;

      span.glyphicon {
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
  
  .panel-title {
    font-size: 18px;

    .panel-title-checkbox {
      font-size: 14px;
    }
  }
}