<div class="modal-header">
  <h2 class="modal-title">
    <span translate="manage_team_captains_header"></span>
  </h2>
</div>
<div class="modal-body">
  <div uib-alert class="alert-success" ng-if="editTeamCaptains.success" dismiss-on-timeout="5000" close="resetTeamCaptainAlerts(true)">
    <span translate="captains_save_success"></span>
  </div>
  <div uib-alert class="alert-danger" ng-if="editTeamCaptains.failure" dismiss-on-timeout="5000" close="resetTeamCaptainAlerts(false)">
    {{editTeamCaptains.failureMessage}}
  </div>
  <div class="panel panel-default team-roster-panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span translate="team_captains_current_info"></span>
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="member in editTeamCaptains.teamRoster | filter: { aTeamCaptain: true }">
        <span class="glyphicon glyphicon-star" ng-if="member.consId == consId"></span>
        <a ng-click="toggleTeamCaptain(member.consId)" ng-if="member.consId != consId">
          <span class="glyphicon glyphicon-minus"></span>
        </a>
        <a target="_blank" ng-href="{{member.personalPageUrl}}">
          <span translate="contact_no_name_label" ng-if="!member.name"></span>
          <span ng-if="member.name && member.name.screenname">{{member.name.screenname}}</span>
          <span ng-if="member.name && !member.name.screenname">{{member.name.first}} {{member.name.last}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="panel panel-default team-roster-panel">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span translate="team_roster_heading"></span>
      </h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="member in editTeamCaptains.teamRoster | filter: { aTeamCaptain: false, displayPage: editTeamCaptains.teamRosterPage }">
        <a ng-click="toggleTeamCaptain(member.consId)">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        <a target="_blank" ng-href="{{member.personalPageUrl}}">
          <span translate="contact_no_name_label" ng-if="!member.name"></span>
          <span ng-if="member.name && member.name.screenname">{{member.name.screenname}}</span>
          <span ng-if="member.name && !member.name.screenname">{{member.name.first}} {{member.name.last}}</span>
        </a>
      </li>
    </ul>
    <div class="panel-footer" ng-if="editTeamCaptains.teamSize > editTeamCaptains.teamPageSize">
      <nav class="panel-pagination">
        <ul uib-pagination items-per-page="editTeamCaptains.teamPageSize" total-items="editTeamCaptains.teamSize" max-size="5" ng-model="editTeamCaptains.teamRosterPage" ng-change="getTeamCaptainsRoster()"></ul>
      </nav>
    </div>
  </div>
  <div uib-alert class="alert-warning">
    <span translate="team_captains_maximum_info" translate-values="{max: editTeamCaptains.maxCaptains}"></span>
  </div>
</div>
<div class="modal-footer">
  <div class="clearfix">
    <div class="pull-left">
      <button class="btn btn-primary-inverted" ng-click="resetTeamCaptainAlerts(true)">
        <span translate="class_cancel_link"></span>
      </button>
    </div>
    <div class="pull-right">
      <button class="btn btn-primary" ng-click="confirmChangeTeamCaptains()">
        <span translate="dialog_save_label"></span>
      </button>
    </div>
  </div>
</div>