<form ng-submit="saveUpdatedContact()">
  <div class="modal-header">
    <h2 class="modal-title">
      <span translate="contact_details_contact_info_hdr"></span>
    </h2>
  </div>
  <div class="modal-body" ng-if="!editContactMode">
    <div class="panel panel-default">
      <div class="panel-body contact-details">
        <div class="contact-edit-link">
          <a ng-click="toggleEditContact()"><span translate="contact_details_edit_info">Edit information</span></a>
        </div>
        <div class="contact-details-row contact-name" ng-if="viewContact.firstName || viewContact.lastName">
          {{viewContact.firstName}} {{viewContact.lastName}}
        </div>
        <div class="contact-details-row contact-email" ng-if="viewContact.email">
          {{viewContact.email}}
        </div>
        <div class="contact-details-row contact-street1" ng-if="viewContact.street1">
          {{viewContact.street1}}
        </div>
        <div class="contact-details-row contact-street2" ng-if="viewContact.street2">
          {{viewContact.street2}}
        </div>
        <div class="contact-details-row contact-city-state-zip" ng-if="viewContact.city || viewContact.state || viewContact.zip">
          {{viewContact.city}}, {{viewContact.state}} {{viewContact.zip}}
        </div>
        <div class="contact-details-row contact-country" ng-if="viewContact.country">
          {{viewContact.country}}
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body contact-stats">
        <div class="contact-stats-donations">
          <div class="contact-stats-amount-raised">
            <h5 class="contact-stats-label"><span translate="contacts_donations_label">Donations</span></h5>
            <div class="contact-stats-value">{{viewContact.amountRaised / 100 | currency}}</div>
          </div>
          <div class="contact-stats-previous-amount-raised">
            <h5 class="contact-stats-label"><span translate="contacts_previous_amount_label">Previous</span></h5>
            <div class="contact-stats-value">{{viewContact.previousAmountRaised / 100 | currency}}</div>
          </div>
          <div class="contact-stats-acknowledged">
            <h5 class="contact-stats-label"><span translate="dialog_acknowledge_label">Acknowledged</span></h5>
            <div class="contact-stats-value" ng-if="viewContact.amountRaised == 0">N/A</div>
            <div class="contact-stats-value" ng-if="viewContact.amountRaised > 0 && viewContact.acknowledged == 'true'">Yes</div>
            <div class="contact-stats-value" ng-if="viewContact.amountRaised > 0 && viewContact.acknowledged != 'true'">No</div>
          </div>
        </div>
        <div class="contact-stats-emails">
          <div class="contact-stats-messages-sent">
            <h5 class="contact-stats-label"><span translate="chart_emails_sent_label">Messages Sent</span></h5>
            <div class="contact-stats-value">{{viewContact.messagesSent}}</div>
            <div class="contact-stats-date">{{viewContact.lastMessageSentDate | date : mediumDate}}</div>
          </div>
          <div class="contact-stats-messages-opened">
            <h5 class="contact-stats-label"><span translate="contacts_email_opened_label">Opened</span></h5>
            <div class="contact-stats-value">{{viewContact.messagesOpened}}</div>
            <div class="contact-stats-date" ng-if="viewContact.lastMessageOpenDate">{{viewContact.lastMessageOpenDate | date : mediumDate}}</div>
          </div>
          <div class="contact-stats-page-visits" ng-if="viewContact.messagesSent > 0">
            <h5 class="contact-stats-label"><span translate="contacts_page_visits_label">Page Visits</span></h5>
            <div class="contact-stats-value">{{viewContact.clickThroughs}}</div>
            <div class="contact-stats-date">{{viewContact.lastClickThroughDate | date : mediumDate}}</div>
          </div>
          <div class="contact-stats-page-visits" ng-if="viewContact.messagesSent == 0">
            <h5 class="contact-stats-label"><span translate="contacts_page_visits_label">Page Visits</span></h5>
            <div class="contact-stats-value">0</div>
            <div class="contact-stats-date"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body" ng-if="editContactMode">
    <div class="contact-edit-link">
      <a ng-click="toggleEditContact()"><span translate="class_cancel_link"></span></a>
    </div>
    <div uib-alert class="alert-danger" ng-if="editContactError">
      {{editContactError}}
    </div>
    <div class="form-group">
      <label for="updatedContactFirstName">
        <span translate="contact_edit_first_name_label"></span>
      </label>
      <input type="text" class="form-control" id="updatedContactFirstName" ng-model="updatedContact.first_name" aria-label="{{ 'contact_edit_first_name_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updatedContactLastName">
        <span translate="contact_edit_last_name_label"></span>
      </label>
      <input type="text" class="form-control" id="updatedContactLastName" ng-model="updatedContact.last_name" aria-label="{{ 'contact_edit_last_name_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updatedContactEmail">
        <span translate="contact_edit_email_label"></span>
      </label>
      <input type="email" class="form-control" id="updatedContactEmail" ng-model="updatedContact.email" aria-label="{{ 'contact_edit_email_label' | translate }}" required>
    </div>
    <div class="form-group">
      <label for="updateContactStreet1">
        <span translate="contact_edit_address1_label"></span>
      </label>
      <input type="text" class="form-control" id="updateContactStreet1" ng-model="updatedContact.street1" aria-label="{{ 'contact_edit_address1_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updateContactStreet2">
        <span translate="contact_edit_address2_label"></span>
      </label>
      <input type="text" class="form-control" id="updateContactStreet2" ng-model="updatedContact.street2" aria-label="{{ 'contact_edit_address2_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updateContactCity">
        <span translate="contact_edit_city_label"></span>
      </label>
      <input type="text" class="form-control" id="updateContactCity" ng-model="updatedContact.city" aria-label="{{ 'contact_edit_city_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updateContactState">
        <span translate="contact_edit_state_label"></span>
      </label>
      <input type="text" class="form-control" id="updateContactState" ng-model="updatedContact.state" aria-label="{{ 'contact_edit_state_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updateContactZip">
        <span translate="contact_edit_zip_label"></span>
      </label>
      <input type="text" class="form-control" id="updateContactZip" ng-model="updatedContact.zip" aria-label="{{ 'contact_edit_zip_label' | translate }}">
    </div>
    <div class="form-group">
      <label for="updateContactCountry">
        <span translate="contact_edit_country_label"></span>
      </label>
      <input type="text" class="form-control" id="updateContactCountry" ng-model="updatedContact.country" aria-label="{{ 'contact_edit_country_label' | translate }}">
    </div>
  </div>
  <div class="modal-footer">
    <div class="clearfix">
      <div class="pull-left">
        <button type="button" class="btn btn-primary-inverted" ng-click="cancelEditContact()">
          <span translate="contact_edit_cancel_link"></span>
        </button>
      </div>
      <div class="pull-right" ng-if="editContactMode">
        <button type="submit" class="btn btn-primary">
          <span translate="contact_edit_save_button"></span>
        </button>
      </div>
    </div>
  </div>
<form>