<div class="modal-header">
  <div class="modal-header__btns modal-header__btns--block-xxs">
    <button type="button" class="btn btn-primary-inverted text-uppercase" ng-click="cancelViewSentMessage()">
      <span translate="personal_preview_close_label"></span>
    </button> 
    <button type="button" class="btn btn-primary text-uppercase" ng-click="copySentMessage(sentMessage.messageId)">
      <span translate="sent_message_forward_label"></span>
    </button>
  </div>
  <h2 class="modal-title">
    <span translate="sent_sent_message_label"></span>
  </h2>
</div>
<div class="modal-body">
  <label>
    <span translate="sent_message_to_label"></span>
  </label>
  <p>
    <span ng-repeat="recipient in sentMessage.recipient">
      <span ng-if="recipient.firstName">
        {{recipient.firstName}}{{recipient.lastName ? ' ' + recipient.lastName : ''}}{{recipient.email ? ' &lt;' + recipient.email + '&gt;' : ''}}<span ng-if="!$last">, </span>
      </span>
      <span ng-if="!recipient.firstName">
        &lt;{{recipient.email}}&gt;<span ng-if="!$last">, </span>
      </span>
    </span>
  </p>
  <label>
    <span translate="sent_message_date_label"></span>
  </label>
  <p>
    <span ng-bind-html="sentMessage.date"></span>
  </p>
  <label>
    <span translate="sent_message_subject_label"></span>
  </label>
  <p>
    <span ng-bind-html="sentMessage.subject"></span>
  </p>
  <label>
    <span translate="sent_message_body_label"></span>
  </label>
  <div ng-bind-html="sentMessage.messageBody"></div>
</div>